/*  Global Styles */

@font-face {
  font-family: ostrich;
  font-style: normal;
  font-weight: 300;
  src: url(./assets/fonts/ostrich-regular.ttf);
}
@font-face {
  font-family: ostrichdashed;
  font-style: dashed;
  font-weight: 500;
  src: url(./assets/fonts/OstrichSans-Bold.otf);
}
.react-phone-number-input__row {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid gray;
  height: 65px;
  border-radius: 5px;
}
.react-phone-number-input__country--native {
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  margin-right: 0.5em;
  width: 45px;
}
.react-phone-number-input__icon {
  width: 2em !important;
  height: auto;
  box-sizing: content-box;
  border: none !important;
}
.react-phone-number-input__country-select {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  border: 0;
  opacity: 0;
  cursor: pointer;
}

.react-phone-number-input__country-select-arrow {
  margin-top: 0.7em !important;
  border-width: 0.45em 0.3em 0 0.3em !important;
}
.react-phone-number-input__input {
  font-size: 1.3rem !important;
  border-bottom: none !important;
}
.react-phone-number-input_position {
  align-self: center !important;
  justify-content: center !important;
}
.rrui__select__selected-label {
  overflow: visible !important;
}
.rrui__select--compact {
  margin-right: 1em !important;
}
.rrui__input {
  height: auto !important;
}
.rrui__select__arrow {
  margin-top: 0.7em !important;
}
.rrui__outline:not(.rrui__outline--default) {
  outline: none;
  padding-top: 7px !important;
}
.react-phone-number-input__error {
  margin-left: 0 !important;
  margin-top: 15px !important;
}
